*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  img.top{
    top: 2px;
    padding: 20px 20px;
    position: fixed;
}

  .navbar{
    overflow: hidden;
    position: fixed;
    top: 17px;
    right: 30px;
    bottom: 0;
  }

  ul{
    display: flex;
  }

li{
    list-style: none;
}

a {
    color: #000;
    float: left;
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
}

button{
    margin-top: 12px;
    font-size: 14px;
    margin-left: 5px;
}

.container{
    margin: 0 auto;
    width: 592px;
    height: 492px;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05), 0px 15px 35px 0px rgba(43, 64, 78, 0.10);
}

header{
    background-color: red;
}

/* left side*/
.leftside{
    width: 380px;
    height: 492px;
    margin: -20px;
    padding: 30px 30px;

    > .subheader {
        padding-top: 20px;
        padding-bottom: 7px;
        font-weight: bold;
        font-size: 14px;
    }

    >.checkout{
        font-size: 18px;
        color: #1D2C3C;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}


.firstname{
    display: grid;
    font-size: 12px;
}

.lastname{
    display: grid;
    font-size: 12px;
    position: relative;
    left: 170px;
    bottom: 52px;
}


.email{
    display: grid;
    font-size: 12px;
    margin-top: -40px;
    margin-bottom: -70px;
}

.credit{
    position: relative;
    top: 140px;
    font-size: 12px;
    display: grid;
}

input[type=text]{
    border: 2px solid #eee;
    border-radius: 3px;
    width: 150px;
    padding: 3px;
    margin: 3px 0;
}

input[type=email]{
    border: 2px solid #eee;
    border-radius: 3px;
    width: 300px;
    height: 30px;
}

input.card{
    border: 2px solid #eee;
    border-radius: 3px;
    width: 320px;
}

.button{
    position: relative;
    bottom: -170px;
    border: 2px solid #eee;
    border-radius: 3px;
    background-color: #038E7D;
    border: none;
    width: 320px;
    color: #fff;
    font-size: 14px;
    padding: 5px;
}

p.left_footer{
    font-size: 10px;
    position: relative;
    top: 125px;
    left: 50px;
    width: 200px;
}

.left_footer_image{
    margin: 0 auto;
    margin-top: 135px;
}

/* right side*/
.rightside{
    background-color: #1179BF;
    position: relative;
    width: 212px;
    height: 492px;
    left: 360px;
    bottom: 472px;
    padding: 20px;
    color: #fff;
    
    > p.price{
        font-size: 40px;
        margin-top: -10px;
        font-weight:100;
    }

    > p{
        font-size: 12px;
        margin-bottom: 5px;
    }

    >.italics{
        font-style: italic;
        font-size: 10px;
        width: 100px;
        margin-bottom: 15px;
    }

    >.plan{
        margin-top: 10px;
        font-size: 10px;
    }
}

sup{
    font-size: 15px;
}

sub{
    font-size: 15px;
    margin-bottom: 400px;
}

div.icon{
    font-size: 12px;
    display: flex;
    margin-top: 8px;

    >.icon_text{
        padding-left: 10px;
    }
}

hr{
    margin: 20px 0px;
}

.footer_word{
    font-style: italic;
    font-size: 12px;
}

img.author{
    border-radius: 50%;
    margin-top: 10px;
}

.right_footer{
    font-size: 12px;
    position: relative;
    left: 50px;
    bottom: 30px;
}


.footer{
    font-size: 10px;
    position: relative;
    top: -470px;
    left: 160px;
    width: 200px;

}


@media (max-width:650px) {
    .container .card {
        max-width: 350px;
    }
    .container .right_side {
    
        width:250px;
    }
    .container .left-side {
        display: none;
    }
}